/*
.template-1 *{
  padding
  font-family
  line-height
  letter-spacing
}

.template-1 h1,
.template-1 h2,
.template-1 h3,
.template-1 h4,
.template-1 h5,
.template-1 h6 {
  font-family
  line-height
  letter-spacing
  margin
}

.template-1 p {
  margin
}

.template-1 ul {
    padding-left

}
*/

/*
==================================================
======= Template 1 ===============================
==================================================
*/

.template-1 * {
    font-size: 14px;
    font-family: 'Arial' !important;
    line-height: 1.4em;
}

.template-1 h1,
.template-1 h2,
.template-1 h3,
.template-1 h4,
.template-1 h5,
.template-1 h6 {
    font-family: 'helvetica' !important;
}

.template-1 h1 {
    font-size: 3em !important;
    line-height: 2em;
}

.template-1 h2 {
    font-size: 2.5em !important;
    line-height: 2em;
}

.template-1 h3 {
    font-size: 2em !important;
    line-height: 2em;
}

.template-1 h4 {
    font-size: 1.5em !important;
    line-height: 2em;
}

.template-1 h5 {
    font-size: 1em !important;
    line-height: 2em;
}

.template-1 h6 {
    font-size: 0.75em !important;
    line-height: 2em;
}

.template-1 ul,
.template-1 ol {
    padding: 0.5em 1em;
    border-left: 3px solid var(--accent-color);
    border-radius: 2px;
    margin-top: 1em;
    margin-bottom: 1em;
}

.template-1 li {
    font-size: 1em !important;
    margin-bottom: .5em;
}

.template-1 ul li::before {
    content: '✦';
    font-size: 1em;
    font-family: 'Ubuntu';
    font-weight: 900;
    padding-right: 0.5rem;
    color: rgba(0, 0, 0, 0.7);
}




/*
==================================================
======= Template 2 ===============================
==================================================
*/


.template-2 * {
    font-family: 'Playfair+Display' !important;
    line-height: 1.4em;
    font-size: 1.1em;
}

.template-2 h1,
.template-2 h2,
.template-2 h3,
.template-2 h4,
.template-2 h5,
.template-2 h6 {
    font-family: 'Lobster' !important;
    text-align: left;
}

.template-2 h1 {
    font-size: 4em !important;
    line-height: 1.5em;
}

.template-2 h2 {
    font-size: 3em !important;
    line-height: 1.5em;
}

.template-2 h3 {
    font-size: 2.5em !important;
    line-height: 1.5em;
}

.template-2 h4 {
    font-size: 2em !important;
    line-height: 1.5em;
}

.template-2 h5 {
    font-size: 1.5em !important;
    line-height: 1.5em;
}

.template-2 h6 {
    font-size: 1em !important;
    line-height: 1.5em;
}

.template-2 ul,
.template-2 ol {
    padding: 0.75em 1em;
    font-family: 'Playfair+Display' !important;
}

.template-2 ul li:before {
    content: "• ";
    color: hsl(19, 100%, 37%);
}


.template-2 li {
    font-family: 'Playfair+Display' !important;
    margin-bottom: .25em;
    font-size: 1em;
}

/*
==================================================
======= Template 3 ===============================
==================================================
*/

.template-3 * {
    font-size: 14px;
    font-family: 'Roboto' !important;
    line-height: 1.5em;
}

.template-3 h1,
.template-3 h2,
.template-3 h3,
.template-3 h4,
.template-3 h5,
.template-3 h6 {
    font-family: 'Sofia' !important;
}

.template-3 h1 {
    font-size: 3em !important;
    line-height: 2em;
}

.template-3 h2 {
    font-size: 2.5em !important;
    line-height: 2em;
}

.template-3 h3 {
    font-size: 2em !important;
    line-height: 2em;
}

.template-3 h4 {
    font-size: 1.5em !important;
    line-height: 2em;
}

.template-3 h5 {
    font-size: 1em !important;
    line-height: 2em;
}

.template-3 h6 {
    font-size: 0.75em !important;
    line-height: 2em;
}

.template-3 ul,
.template-3 ol {
    padding: 0.75em 1em 1em 1em;
}

.template-3 ul li {
    font-size: 1em !important;
    margin-bottom: .25em;
}

.template-3 ul li::before {
    content: '∎';
    font-size: 1em;
    font-weight: 900;
    padding-right: 0.5rem;
    color: rgba(0, 0, 0, 0.7);
}

.template-3 ol li::before {
    font-size: 1em;
    font-weight: 900;
    padding-right: 0.5rem;
    color: rgba(0, 0, 0, 0.7);
}