.ql-snow .ql-picker.ql-font .ql-picker-label[data-value=sofia]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value=sofia]::before {
    content: 'Mall1';
    font-family: 'Sofia', sans-serif;
}

/* .ql-font-sofia {
  font-family: 'Sofia', sans-serif;
} */

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value=roboto]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value=roboto]::before {
    content: 'Mall2';
    font-family: 'Roboto', sans-serif;
}

/* .ql-font-roboto {
  font-family: 'Roboto', sans-serif;
} */

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value=lobster]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value=lobster]::before {
    content: 'Mall3';
    font-family: 'Lobster', sans-serif;
}

/* .ql-font-lobster {
  font-family: 'Lobster', sans-serif;
} */
