:root {
    --menu-color: #23272a;
    --aside-color: #2c2f33;
    --toolbar-color: #fff;
    --accent-color: #7289da;
    --offwhite: #ecf0f1;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

*:focus {
    outline: none;
}

a {
    color: var(--accent-color);
}

.wrapper {
    height: 100vh;
}

.grid-container {
    z-index: 1000;
    position: absolute;
    top: 0;
    left: calc(-375px - 43px);
    display: grid;
    grid-template-columns: 75px 300px;
    height: 100%;
    transition: left 300ms;
}

.expanded {
    left: 0;
}

/*
=======================================================
====== Menubar Styles ===================================
=======================================================
*/

.menubar {
    display: flex;
    justify-content: space-between;
    background: var(--aside-color);
    color: var(--accent-color);
}

.menubar i {
    padding: 1em;
    cursor: pointer;
}

/*
=======================================================
====== Sidebar Styles ===================================
=======================================================
*/

#menu-btn-close {
    padding: 1em;
    position: absolute;
    top: 0;
    right: 0;
}

.brand {
    width: 100%;
    height: 100px;
}

.sidebar {
    height: 100%;
    background: var(--menu-color);
}

/* Notes Section Styles */

#notes {
    background: var(--aside-color);
    color: var(--offwhite);
    padding: 1em;
}

#notes h2 {
    margin-bottom: 0.5em;
}

#notes input {
    padding: 0.75em;
    background: var(--offwhite);
    width: 100%;
    border-radius: 20px;
    border: none;
    border-bottom: 2px solid #f1f1f1;
    margin-bottom: 1em;
}

#notes ul li {
    list-style: none;
    padding: 1em;
}

nav ul li {
    height: 75px;
    width: 100%;
    border-radius: 50%;
    margin-bottom: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li a {
    font-size: 1.5em;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    display: flex;
    color: var(--accent-color);
    justify-content: center;
    align-items: center;
    background: var(--aside-color);
    text-decoration: none;
    transform: scale(1);
    transition: transform 300ms, border-radius 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275), background 300ms, color 300ms;
}

nav ul li a:hover {
    border-radius: 25%;
    background: var(--accent-color);
    color: #fff;
    transform: scale(0.95);
}


/*
=======================================================
====== Quill Styles ===================================
=======================================================
*/

#editor-wrapper {
    overflow-y: scroll;
}

.ql-toolbar {
    position: fixed;
    width: 100%;
    z-index: 100;
    background: var(--toolbar-color);
}

.ql-editor {
    padding-top: 50px;
    z-index: 20;
}