@page {
    size: A4;
    margin: 10mm 10mm 10mm 10mm;
}

@media print {
    body {
        visibility: hidden;
    }

    .ql-editor {
        visibility: visible;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
    }
}