:root {
    --menu-color: #252629;
    --aside-color: #323439;
    --search-field: #282A2E;
    --highlight-color: #404349;
    --toolbar-color: #f9f9f9;
    --accent-color: #7289da;
    --offwhite: #ecf0f1;
    --muted: #747475;
}

* {
    box-sizing: border-box;
    padding: 0rem;
    margin: 0rem;
    font-family: sans-serif;
}

*:focus {
    outline: none;
}

#slide3,
#slide2 {
    display: none;
}

section {
    background: linear-gradient(#99B5FF, var(--accent-color));
    height: 100vh;
    display: flex;
    flex-direction: column;
}

section header img {
    width: 130px;
}

#slide1>img {
    height: 240px;
}